@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 190 67% 92%;
    --foreground: 224 71% 4%;
    --card: 190 60% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 190 60% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 196 51% 64%;
    --primary-foreground: 210 40% 98%;
    --secondary: 190 50% 85%;
    --secondary-foreground: 224 71% 4%;
    --muted: 190 50% 88%;
    --muted-foreground: 224 71% 15%;
    --accent: 42 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 190 40% 80%;
    --input: 190 40% 85%;
    --ring: 196 51% 64%;
    --chart-1: 196 51% 64%;
    --chart-2: 42 100% 50%;
    --chart-3: 210 50% 50%;
    --chart-4: 28 100% 65%;
    --chart-5: 160 60% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 196 51% 64%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 42 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 22%;
    --input: 217 33% 22%;
    --ring: 196 51% 64%;
    --chart-1: 196 51% 64%;
    --chart-2: 42 100% 50%;
    --chart-3: 210 50% 50%;
    --chart-4: 28 100% 65%;
    --chart-5: 160 60% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
